cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
colorclass==2.2.0
docopt==0.6.2
google-api-core==1.10.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-storage==1.15.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
grpcio==1.20.1
idna==2.8
packaging==19.0
pip-upgrader==1.4.12
protobuf==3.18.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyparsing==2.4.0
pytz==2019.1
rsa==4.7
six==1.12.0
stellarstation==0.3.0
terminaltables==3.1.0
