#!/bin/bash

# Filter out java out parameter
args=("$@")
for ((i=0; i<"${#args[@]}"; ++i)); do
    case ${args[i]} in
        --java_out*) unset args[i]; break;;
    esac
done

. |CONDA_PROFILE_PATH|
conda activate > /dev/null
python -m grpc_tools.protoc "${args[@]}"
